{% extends 'base.html.twig' %}

{% block title %}{{ application.name }}{{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navigation.html.twig' %}
    <div class="container-fluid mt-3">
        <div class="row mb-3">
            <table class="table">
                <thead>
                <tr>
                    <td style="width: 33%">Created</td>
                    <td>Data</td>
                </tr>
                </thead>
                <tbody>
                {% for submission in pager.currentPageResults %}
                    <tr>
                        <td>
                            {{ submission.created }}
                        </td>
                        <td>
                            <table>
                                {% for field, value in submission.data %}
                                    <tr>
                                        <td>
                                            {{ field }}
                                        </td>
                                        <td>
                                            {{ value }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% include 'components/pager.html.twig' with {pager: pager} only %}
        </div>
    </div>
{% endblock %}
