{% extends 'base.html.twig' %}

{% block title %}{{ application.name }}{{ parent() }}{% endblock %}

{% block body %}
    {% include 'components/navigation.html.twig' %}
    <div class="container-fluid mt-3">
        <div class="row mb-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <td style="width: 200px">Created</td>
                        <td style="width: calc(100% - 260px)">Data</td>
                        <td style="width: 40px"></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for submission in pager.currentPageResults %}
                        <tr>
                            <td>
                                {{ submission.created|date('d-m-Y H:i') }}
                            </td>
                            <td style="font-family: 'Source Code Pro', 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace">
                                {% include 'admin/application/iterable.html.twig' with {data: submission.data} only %}
                            </td>
                            <td>
                                <form
                                        class="form-confirmation"
                                        action="{{ path('submission_delete', {submission: submission.id}) }}"
                                        method="POST"
                                >
                                    <input type="hidden" name="_token"
                                           value="{{ csrf_token('delete_' ~ submission.id) }}">
                                    <button type="submit" class="btn btn-outline-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% include 'components/pager.html.twig' with {pager: pager} only %}
        </div>
    </div>
{% endblock %}
